body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 20px;
  color: #333;
}

#video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px); /* 100px es la altura del encabezado y el botón */
}

video {
  max-width: 100%;
  max-height: 100%;
  border: 2px solid #333;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

canvas {
  display: none;
}

img {
  max-width: 100%;
  margin: 10px auto;
  border: 2px solid #333;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
